@use '../base/fonts';
@use '../utilities/extend';
@use "../utilities/mixins";

.flex-botones-inicio {
    @include mixins.flex(row, center, center);
    gap: 10px;
    margin-bottom: 20%;
}

.boton-inicio {
    border-radius: 26px;
    text-transform: uppercase;
    font-size: 18px;
    padding: 5px 20px;
    font-family: fonts.$Nunito;
    font-weight:600;
}

.boton-especial {
    @extend%boton-especial;
    font-size: 20px;
}