@use '../base/fonts';
@use '../utilities/variables';
@use '../utilities/extend';

h2, h3, h4, h5, p{
    color: white;
    font-family: fonts.$Lato; 
    margin-bottom: 0;
}

.centrado {
    @extend%centrado;
} 

.recuadro-especial {
    background-color: rgba(0, 0, 0, 0.6);
    width: 96%; 
    display: flex;
    flex-direction: column;
    padding: 12px;
    border: 3px solid rgb(41, 43, 38);
}

h5 {
    font-size: 26px;
    font-family: fonts.$Playfair;
    @extend%centrado;
}

h3 {
    font-size: 30px;
    margin: 7%;
    margin-left: 0;
    font-family: fonts.$Playfair ;
}

p {
    font-size: 22px;
}


a {
    text-decoration: none;
}