@use './layout';
@use '../base/fonts';
@use '../utilities/mixins';

header {
    .container-fluid {
        @include mixins.flex (inherit, space-between, center);
        flex-wrap: wrap;
        gap: 4px;
    }

    // NAV
    .img-nav {
        width: 35px;
        height: 30px;
        margin: 2px 3% 4px 20px;
    }

    .navbar-brand {
        margin-right: auto;
        padding: 3px 8px;
        font-weight: 500;
        border-radius: 10px;
        padding-right: 12px;
    }

    .navbar-nav {
        margin-left: auto;
        gap: 10px;
    }

    .nav-link {
        border-radius: 20px;
        padding-left: 30px;
    }
}