@use '../utilities/extend';
@use '../utilities/variables';

.fondo-carta {
    background-image: url('../assets/img/carta_desktopFondo.jpg');
    @extend%fondo;
}

hr {
    text-align: center;
    color: variables.$blanco;
}

.img-carta {
    width: 100%;
    height: auto;
    margin-top: 14px;
}