@use '../utilities/extend';

.fondo-carta {
    background-image: url('../assets/img/carta_desktopFondo.jpg');
    @extend%fondo;
}

hr {
    text-align: center;
    color: white;
    margin: 4% 0;
}
