@use '../utilities/extend';
@use '../utilities/mixins';
@use '../utilities/variables';
@use '../base/fonts';

.fondo-contacto {
    background-image: url('../assets/img/contacto_desktopFondo.jpg');
    @extend%fondo;
}


.fondo-marron {
    background-color: variables.$marron;
    padding: 6px 10px;
    border: 2px solid #9b6239;
    margin: 10px auto;
}

label {
    color: variables.$blanco;
    font-size: 24px;
    font-family: fonts.$Cormorant; 
}

input {
    border: 2px solid rgb(100, 97, 97);
}

.flex-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;

    .form-grupo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        margin: 6px auto;
    }
}

.checkbox {
    margin: 10px auto;
    display: flex;
    align-items: center;
    gap: 10px;
}
