@use '../utilities/extend';
@use '../base/fonts';
@use '../utilities/variables';

.fondo-inicio {
    background-image: url('../assets/img/inicio_desktopFondo.jpg');
    @extend%fondo;
}

h1 {
    // color: variables.$amarillo;
    color: #F3E9D2;
    font-family: fonts.$Cormorant;
    // background-color: variables.$negro-transparente;
    background-color: #5C3B24;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 8px;
    margin: variables.$margin;
    margin-top: 8%;
}

h2 {
    background-color: variables.$blanco;
    text-transform: uppercase;
    color: variables.$negro;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    font-weight: 900;
    padding: 4px 12px;
    border-radius: 15px;
    margin: variables.$margin;
}

.espacio {
    
    text-align: center;
}

.flex-inicio {
    display: flex;
    gap: 24px;
    margin: 2% 0;

    .flex-inicio-izquierdo {
        @extend %flex-inicio;
    }
    
    .flex-inicio-derecho {
        @extend %flex-inicio;
    }

}

.i-redes {
    display: flex;
    flex-direction: row;
    gap: 24px;

    .bi {
        font-size: 20px;
        color: variables.$blanco;
        margin: 2%;
    }
}