@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap");

$montserrat: "Montserrat", sans-serif;
$pacifico: "Pacifico", cursive;
$nunito: "Nunito", sans-serif;
$domine: "Domine", serif;


