@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');
/* font-family: "Montserrat", sans-serif;   font-family: "Pacifico", cursive;   font-family: "Nunito", sans-serif; */

/* Estructura movil */

.layout {
    display: grid;
    height: 100vh;
    gap: 10px;
    grid-template-rows: minmax(50px, auto) 1fr minmax(50px, auto);
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Ayuda visual  */
/* .header {
    border: 10px solid #e63946;
}

.main {
    border: 10px solid #457b9d;
}

.footer {
    border: 10px solid #fb8500;
} */


/* 
    ----------------------IMPORTANTE -------------------------------
    Poner hovers y pseudoclases a los links 
*/


/* fondos de pantalla*/

/* */ 
.fondo-inicio {
    background-image: url('../assets/img/inicio_desktopFondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.fondo-restaurante {
    background-image: url('../assets/img/restaurante_desktopFondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.fondo-nosotros {
    background-image: url('../assets/img/nosotros_desktopFondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.fondo-carta {
    background-image: url('../assets/img/carta_desktopFondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.fondo-contacto {
    background-image: url('../assets/img/contacto_desktopFondo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
} */

/* Navbar */

.img-nav {
    margin: 2px 3% 4px 0;
}

.navbar-brand {
    margin-right: auto;
    padding: 0 10px;
    font-family: "Pacifico", cursive;
}

.navbar-nav {
    margin-left: auto;
    gap: 10px;
}

.nav-link {
    border-radius: 20px;
    padding-left: 30px;
}

/* GLOBAL */

h2, h3, h4, h5, h6, p {
    color: white;
    font-family: "Nunito", sans-serif;
    margin-bottom: 0;
}


.centrado {
    text-align: center;
    width: 100%;
}

/* INICIO  */

.flex-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

h1 {
    color: rgb(247, 243, 12);
    font-family: "Pacifico", cursive;
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    padding: 4px 8px;
    border-radius: 8px;
    margin: 3%;
    margin-top: 8%;
}

.h2-inicio {
    background-color: white;
    text-transform: uppercase;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    font-weight: 900;
    padding: 4px 12px;
    border-radius: 15px;
    margin: 3%;
}

/* Botones */

.flex-botones {
    display: inline-flex;
    justify-content: center;
    gap: 4%;
}

.boton-inicio {
    border-radius: 26px;
    text-transform: uppercase;
    padding: 5px 20px;
    font-family: "Nunito", sans-serif;
}

/* Carta */

.recuadro-carta {
    display: inline-flex;
    flex-direction: column;
    padding: 12px;
    border: 2px solid rgb(41, 43, 38);
}

.h3-carta {
    margin: 7%;
    margin-left: 0;
}

hr {
    text-align: center;
    color: white;
    margin: 4% 0;
}

.boton-carta {
    margin-top: 2%;
}


/* footer  */

.footer p {
    background-color: black;
    color: white;
    text-align: center;
    margin: 2% auto;
    display: inline-block;
}


/* Estructura Escriotrio */
@media (min-width: 1024px) {


    .img-nav {
        width: 45px;
        height: 40px
    }

    .navbar-brand {
        font-size: 24px;
    }

    .nav-link {
        font-size: 20px;
    }
    
    /* inicio */
    
    h1 {
        font-size: 45px;
        margin-top: 4%;
    }

    .h2-inicio {
        font-size: 60px;
        padding: 10px 34px;
    }

    .flex-botones {
        gap: 10%;
    }

    .boton-inicio {
        font-size: 18px;
    }

    /* carta */


}

