@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Edu+NSW+ACT+Hand+Pre:wght@400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Parastoo:wght@400..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Savate:ital,wght@0,200..900;1,200..900&family=Sigmar+One&family=WDXL+Lubrifont+SC&display=swap');
/*  font-family: "BBH Sans Bartle", sans-serif;
    font-family: "Nunito", sans-serif; */


/* fondos de pantalla */

.fondo-inicio {  
    background-image: url('../assets/img/inicio_desktopFondo.png');
    background-size: cover;
}

/*
.fondo-restaurante {
    background-image: url("../assets/img/restaurante_desktopFondo.png");
    background-size: cover;
}

.fondo-nosotros {  
    background-image: url('../assets/img/nosotros_desktopFondo.png');
    background-size: cover;
}

.fondo-carta {  
    background-image: url('../assets/img/carta_desktopFondo.png');
    background-size: cover;
}

.fondo-contacto {  
    background-image: url('../assets/img/contacto_desktopFondo.png');
    background-size: cover;
} */


/* Navbar */

li {
    background-color: black;
}

/* Titulos y parrafos */

h1, h2, h3, h4, h5, h6, p {
    color: white;
    font-family: "Nunito", sans-serif;
}

h1 {
  font-family: "BBH Sans Bartle", sans-serif;
  text-align: center;
  background-color: rgb(73, 70, 70);
}


.recuadro {
    background-color: black;
}

/* Botones */

.boton-negro{
  background-color: black;
  color: white;
}

.boton-amarillo {
  background-color: orange;
  color: black;
}

.h2-inicio {
    background-color: white;
    color:  black;
    /* font-size: 70px; */
}

/* footer */


footer {
  background-color: black;
  text-align: center;
  color: white;
} 
